/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.bottom-buffer{
	margin-bottom: 4vw;
	@media (max-width: 768px)
	 {
	 	margin-bottom: 6vw;
	 }
}

.vyu-blue{
	background-color: #018BBC;
}

.charcoal-text{
	color: #333333;
}

a:link{
	color: #2B9FC5;
}

a:visited{
	color: #2B9FC5;
}

a:hover{
	color: #018BBC;
	text-decoration: none;
}

.white-text{
	color: white;
}

.blue-text{
	color: #018BBC;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #333333;
    color: white;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav > li {
    color: white;
}

#hipster-desk-background{
	background-image: url('/assets/hipster_desk.jpg') ;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

#vyu-logo{
	background-image: url('/assets/vyutvlogo.jpg');
	width: 150px;
	background-size: cover;
}

.blue-box-background{
	background-color: rgba(0, 144, 186, .8);
	border-radius: 10px;
	padding-bottom: 10px;
}

.charcoal-box-background{
	background-color: rgba(51, 51, 51, .8);
	border-radius: 10px;
	padding-bottom: 10px;
	max-height: 300px;
	overflow: scroll;
}

.white-box-background{
	background-color: rgba(253, 236, 225, .8);
	border-radius: 10px;
	padding-bottom: 10px
}

